<p>Http Request</p>

<table width="100%">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Delete Phone</th>
  </tr>
  <tr *ngFor="let mobile of httpData">
    <td>{{mobile.id}}</td>
    <td>{{mobile.name}}</td>
    <td>{{mobile.price}}</td>
    <button (click) ="deleteMyMobile(mobile.id)">Delete</button>
  </tr>
</table>


<div style="border:solid black 1px;margin:10px;">
  <h1>Insert new Mobile</h1>
<table>
  <tr>
    <td>Name:</td>
    <td><input [(ngModel)] = "mobileName" name = "mobileName" id = "mobileName"></td>
  </tr>
  <tr>
    <td>Price:</td>
    <td><input [(ngModel)] = "price" name = "price" id = "Price"></td>
  </tr>
</table>
<button style="border:none;background-color:black;color:white;margin:5px;padding:10px" (click) = "saveMyMobile()">Insert</button>
</div>

{{myMobile.name}}
{{myMobile.price}}